<div class="container mt-4">
    <h2>Распоред</h2>
    <table class="table">
      <thead>
        <tr>
          <th> Тековна испитна сесија: </th>
          <th> 
            <a *ngIf="currentIspitna" href="javascript:void(0)" (click)="DetailsCurrent()">
              {{text}}
            </a>
            <span *ngIf="!currentIspitna">{{text}}</span>
          </th>
        </tr>
        <tr>
          <th>Испитни сесии</th> 
          <th>
            <a href="javascript:void(0)" (click)="New()">Додади нова сесија</a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let IspItem of IspArray">
          <td>
            <a href="javascript:void(0)" (click)="Details(IspItem)">Распоред на испити во {{ IspItem.mesec }}та испитна сесија {{ IspItem.studiska }}</a>
          </td>
          <td>
            <button (click)="Edit(IspItem)" class="text-primary btn-link">Edit</button> 
            <button (click)="Delete(IspItem)" class="text-danger btn-link">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  