<div class="container mt-4" >
    <div class="card">
        <h1>Edit Exam Session</h1>
<form #form="ngForm" (ngSubmit)="Edit()">
    <div class="form-group">
        <label>Exam Session</label>
        <input type="mesec" [(ngModel)]="mesec" [ngModelOptions]="{standalone: true}" class="form-control" id="mesec" placeholder="прва/втора/трета">
      </div>

      <div class="form-group">
        <label>Year</label>
        <input type="year" [(ngModel)]="year" [ngModelOptions]="{standalone: true}" class="form-control" id="year" class="form-control" placeholder="студиска година">
      </div>

     <button type="submit" class="btn btn-primary" (ngSubmit)="Edit()">Edit</button>
  </form>
</div>
</div>